.herocard .swiper {
  width: 240px;
  height: 320px;
}

.herocard .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.herocard .swiper-slide:nth-child(1n) {
  background-image:url('/src/assets/banner-books/book1.png'); 
}

.herocard .swiper-slide:nth-child(2n) {
  background-image:url('/src/assets/banner-books/book2.png'); 
}

.herocard .swiper-slide:nth-child(3n) {
  background-image:url('/src/assets/banner-books/book3.png'); 
}

.herocard .swiper-slide:nth-child(4n) {
  background-image:url('/src/assets/banner-books/book4.png'); 
}

.herocard .swiper-slide:nth-child(5n) {

  background-image:url('/src/assets/banner-books/book5.png'); 
}

.herocard .swiper-slide:nth-child(6n) {
  background-image:url('/src/assets/banner-books/book6.png'); 
}



